<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻详情</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__CSS__/news.css">
</head>
<body>	
	<div id="detail">
		<div class="news-detail">
			<p>五龙山一日游</p>
			<div id="news-infomation">
				<p id="news-detail-info">
					<span>[发布时间]&nbsp;2017/03/28</span>
					<span>作者:XX</span>
					<span>浏览:88</span>
				</p>
			</div>
			<div id="detail-content"></div>	
        </div>
	</div>

	<script src="__VUE__"></script>
</body>
</html>