<extend name="base/base"/>

<block name="main">
		<!-- 导航栏 -->
	<nav class="nav-slide" id="nav-slide">
		<div class="nav-slide-c">
			<ul class="nav-lc">
				<li v-for="nav in navs">
					<a href="">
						<img class="images" style="border-radius: 50%;"  v-bind:src="nav.icon" alt=""><span>{{ nav.navName }}</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<section id="newsSource">
		<div>
			<p>新闻悦读</p>
			<div class="dataDiv" v-for = "item in items">
				<div class="dataDiv-img">
					<img v-bind:src="item.img" alt="">
				</div>
                <div class="dataDiv-content">
                    <h3>{{ item.title }}</h3>
                    <p class="news-info"><div class="abstract"><span>{{ item.abstract }}</span></div><span class="late">最新</span></p>
                </div>
            </div>
            <center><a id="more" href="">查看更多&gt;&gt;</a></center>
		</div>
	</section>

	<!-- 精雕细课 -->
	<section id="classSource">
		<div>
			<p>精雕细课</p>
			<div class="classImg" v-for = "">
				<div class="classData-img">
					<img v-bind:src="" src="__IMG__/slide-1.jpg" alt="">
				</div>
				<a href="">查看详情&gt;&gt;</a>
            </div>
		</div>
	</section>

	<!-- 项目展示 -->
	<section id="objectSource">
		<div>
			<p>项目展示</p>
			<div class="classImg" v-for = "">
				<div class="classData-img">
					<img v-bind:src="" src="__IMG__/slide-1.jpg" alt="">
				</div>
				<a href="">查看详情&gt;&gt;</a>
            </div>
		</div>
	</section>	
</block>

<block name="js">
	<script>
    var news = new Vue({
        el: '#newsSource',
        data: {
            items: [
                {title: '不一样的五龙山一日游', img: '__IMG__/slide-1.jpg',abstract: '2017-04-15qweqweqweqwe', amount: 82},
                {title: '不一样的五龙山一日游 ', img: '__IMG__/slide-2.jpg',
                    abstract: '2017-04-15qweqweqwewe', amount: 82},
                {title: '不一样的五龙山一日游 ', img: '__IMG__/slide-3.jpg',
                    abstract: '2017-04-15qweqweqweqweqwe', amount: 82}               
            ],
        }
    })
   	
    var news = new Vue({
        el:'.nav-lc',
        data: {
            navs: [
                {navName:'新闻动态',icon:'__IMG__/icon.jpg'},
                {navName:'三月课堂',icon:'__IMG__/icon.jpg'},
                {navName:'项目展示',icon:'__IMG__/icon.jpg'}
            ]
        }
    })
    </script>
</block>	