

#type-content{
    margin:auto;
    width: 50%;
}

.block-label{
    display: block;
    width: 100%;
    padding: 0;
}

/*#all-types-label>span{*/
    /*margin: 2px 6px;*/
/*}*/

.delete-type{
    position: relative;
    top: -9px;
    left: -8px;
    font-size: 12px;
    color: #0a2b1d;
}